apiVersion: v1
kind: Service
metadata:
  name: spring-petclinic
  labels:
    app: spring-petclinic
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: spring-petclinic
    tier: spring-petclinic
  type: NodePort

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: spring-petclinic
  labels:
    app: spring-petclinic
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: petclinic
        tier: spring-petclinic
    spec:
      containers:
      - image: 127.0.0.1:30400/spring-petclinic:latest
        name: spring-petclinic
        ports:
        - containerPort: 8080
          name: spring-petclinic
